hr {
    color: aliceblue;
    text-align: center;
    width: 50%;
    margin: auto;
}

.container-main {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 20%;
}

.container-team {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
}

.container-project {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100%;
}

.container-footer {
    color: aliceblue;
    position: absolute;
    text-align: center;
    bottom: 0%;
    width: 100%;
    top: 149%;
    margin-top: 10px;
}


@media only screen and (max-width: 985px) {
    .container-project {
        top: 130%;
    }
    .container-footer {
        top: 175%;
    }
}

@media only screen and (max-width: 700px) {
    .container-project {
        top: 125%;
    }
    .container-footer {
        top: 168%;
    }
}

@media only screen and (max-width: 665px) {
        .container-project {
        top: 155%;
    }
    .container-footer {
        top: 198%;
    }
}